$grid-color: #ddd;
$item-background-color: #f36868;
$schedule-list-background-color: #fcfcfc;
$schedule-list-background-color-odd: #ffffff;

@mixin btn {
  .btn {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    opacity: 0.5;
    outline: none;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
